# Build output & Generated types
dist/
.astro/
.output/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (Blindagem Total)
.env
.env.*
!.env.example

# Caches de Deploy / Infraestrutura Serverless
.vercel/
.netlify/

# Prismic CMS
.slicemachine/
.prismic/
prismic-backup/

# OS & Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~