---
import MainLayout from '../layout/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
---
<MainLayout title="Carol | Fotografia" description="...">
  <Header />
  <main>
    <Hero />
    <Section className="portfolio">
      <h2>Portfólio</h2>
    </Section>
  </main>
</MainLayout>