---
import MainLayout from '../layout/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Pacotes from '../components/Pacotes.astro';
import Historias from '../components/Historias.astro'
import Footer from '../components/Footer.astro'
---
<MainLayout>
  <Header />
  <main>
    <Hero />
    <Pacotes />
    <Historias />
  </main>
  <Footer />
</MainLayout>