---
import MainLayout from '../layout/MainLayout.astro';
import Header from '../components/Header.astro'
import TestSection from '../components/TestSection.astro'
import TestSection2 from '../components/TestSection2.astro';
---

<MainLayout title="Carol | Fotografia" description="Fotografia com olhar sensível e acolhedor.">
  <Header />
<main>
    <TestSection />
    <TestSection2 />
</main>
</MainLayout>