---
import MainLayout from '../layout/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Pacotes from '../components/Pacotes.astro';
import Historias from '../components/Historias.astro'
---
<MainLayout>
  <Header />
  <main>
    <Hero />
    <Pacotes />
    <Historias />
    
  </main>
</MainLayout>