---
export interface Props {
  className?: string;
  style?: string;
}
const { className = '', style = '' } = Astro.props;
---

<section class={`section ${className}`} style={`min-height: 100vh; ${style}`}>
  <slot />
</section>

<style>
  
  .portfolio {
  position: relative;
  z-index: 2;         /* sobrepõe a Hero */
  background: #fff;
}
</style>